streamlit==1.32.0
langchain==0.1.10
langchain-groq==0.0.1
langchain-huggingface==0.0.1
langchain-community==0.0.24
sentence-transformers==2.5.1
faiss-cpu==1.8.0
pypdf==4.0.1
InstructorEmbedding==1.0.1
torch==2.2.0
